*.acn
*.aux
*.auxlock
*.bcf
*fdb_latexmk
*.fls
*.glo
*.technique-glo
*.material-glo
*.ist
*.lof
*.log
*.lot
*.out
output.pdf
*.xml
*.gz
*.acr
*.alg
*.blg
*.glg
*.material-glg
*.material-gls
*.gls
*.technique-gls
*.technique-glg
*.toc
*.latexmkrcBACKUP
*.bbl
*.ipynb
*.synctex(busy)
/figures/*
/figures_plex/*
/_minted-output
ltex.dictionary.en-GB.txt
ltex.disabledRules.en-GB.txt
ltex.hiddenFalsePositives.en-GB.txt