*.acn
*.aux
*.auxlock
*.bcf
*fdb_latexmk
*.fls
*.glo
*.ist
*.lof
*.log
*.lot
*.material-glo
*.out
main.pdf
output.pfd
*.xml
*.gz
.acr
.alg
.blg
.glg
.gls
*.technique-glo
*.toc
*.latexmkrcBACKUP
*.bbl
/figures/*